<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeetBase</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="container">
        <h1>NeetBase</h1>

        <button class="add-button" onclick="openModal()">Add Question</button>

        <dialog id="edit-modal">

            <form id="edit-form" method="POST" class="question-form">

                <div class="modal-header">
                    <h2>Edit Question</h2>

                    <button type="button" class="close-button" onclick="closeEditModal()">
                        ×
                    </button>
                </div>

                <input id="edit-name" type="text" name="name" required>

                <select id="edit-difficulty" name="difficulty" required>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>

                <input id="edit-topics" type="text" name="topics" required>

                <textarea id="edit-description" name="description" rows="4"></textarea>

                <button type="submit" class="submit-button">
                    Save Changes
                </button>

            </form>

        </dialog>

        <dialog id="add-modal">
            <form action="/add" method="POST" class="question-form">

                <div class="modal-header">
                    <h2>Add Question</h2>
                    <button type="button" class="close-button" onclick="closeModal()">×</button>
                </div>

                <input type="text" name="name" placeholder="Problem name" required>

                <select name="difficulty" required>
                    <option value="" disabled selected>Difficulty</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>

                <input type="text" name="topics" placeholder="Topics" required>

                <textarea name="description" placeholder="Write your description..." rows="4"></textarea>

                <button type="submit" class="submit-button">
                    Add Problem
                </button>

            </form>
        </dialog>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Difficulty</th>
                    <th>Topics</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem[1] }}</td>
                    <td>{{ problem[2] }}</td>
                    <td>{{ problem[3] }}</td>
                    <td>{{ problem[4] }}</td>

                    <td>
                        <button type="button" onclick="openEditModal(
                        '{{ problem[0] }}',
                        '{{ problem[1] | e }}',
                        '{{ problem[2] | e }}',
                        '{{ problem[3] | e }}',
                        '{{ problem[4] | e }}'
                    )">
                            Edit
                        </button>

                        <form action="/delete/{{ problem[0] }}" method="POST" style="display:inline;">
                            <button type="submit">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        const modal = document.getElementById("add-modal");

        function openModal() {
            modal.showModal();
        }

        function closeModal() {
            modal.close();
        }

        const editModal = document.getElementById("edit-modal");

        function openEditModal(id, name, difficulty, topics, description) {

            document.getElementById("edit-name").value = name;
            document.getElementById("edit-difficulty").value = difficulty;
            document.getElementById("edit-topics").value = topics;
            document.getElementById("edit-description").value = description;

            document.getElementById("edit-form").action = "/edit/" + id;

            editModal.showModal();
        }

        function closeEditModal() {
            editModal.close();
        }
    </script>

</body>

</html>